.hero {
    padding: 96px 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../../images/home/Rectangle.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../../images/home/Rectangle2x.jpg);
    }

    @media screen and (min-width: 768px) {
  
            padding: 407px 141px 410px 134px;
    }

    @media screen and (min-width: 1360px) {
        padding: 279px 436px 282px 431px;
        
    }
}
.hero__title {
    font-weight: 300;
    font-size: 52px;
    line-height: 1.27;
    color: var(--hero-title-color);
    margin-bottom: 20px;
padding-top: 40px;

    @media screen and (min-width: 768px) {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.20;
    padding-top: 0;
    }
    @media screen and (min-width: 1360px) {
      padding-top: 0;
      margin-bottom: 24px;
    }
}
.hero__paragraph{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.67;
    color: var(--hero-title-color);
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.67;
    }
    @media screen and (min-width: 1360px) {
     
        margin-bottom: 32px;
    }
}
.hero__button{
    background-color: var(--button-color);
    color: var(--white);
    width: 156px;
    height: 45px;
    border-radius: 5px;
    padding: 10px 29px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
        width: 165px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        padding: 0;
        width: 165px;
        height: 48px;
    }
    &:hover,
    &:focus{
opacity: 0.8;
    }
}
.arrow__icon{
    @media screen and (max-width: 767px) {
    & {
        display: none;
    }
    }
 
    @media screen and (min-width: 768px) {
    width: 7.26px;
    height: 11.25px;
    margin-right: 4px;
    }


}