:root{
    --button-color:#28A745;
    --bg-color:#F4F4F4;
    --blog-color:#0284D0;
    --team-color:#E5E5E5;
    --text-color:#333333;
    --form-txt-color:#808080;
    --white:#FFFFFF;
    --hero-title-color:#E9E9E9;
    --hover-color:#28a745


}